@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-decoration: underline; */
    text-align: center;
    color:white;
}
h1:hover{
    transition: 2s;
    letter-spacing: 1.5em;
}
.cell{
    width:100px;
    height:100px;
    border:1px solid white;
    text-align: center;
    vertical-align: center;
    font-size: 40px;
    font-family: 'Homemade Apple', cursive;
    cursor: pointer;
    color:white;
}
table{
    border-collapse: collapse;
   /* margin-left: auto;
   margin-right: auto; */
   left: 50%;
   margin-left: -155px;
   margin-top: 200px;
   position: absolute;
}
table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}
tr td:first-child {
    border-left: 0;
}
tr td:last-child {
    border-right: 0;
}

.endgame{
    display: none;
  width:200px;
  height: 100px;
  margin-top:50px;
  animation-name: popup;
  animation-duration: 5s;
  /* animation-delay: 2s; */
  /* background-color:rgba(59, 41, 22, 0.8); */
  box-shadow: .5px .5px 5px .5px white;
  /* background-color: white; */
  /* opacity:.5; */
  color:white;
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align:center;
  vertical-align: center;
  left:50%;
  position: absolute;
  margin-left: -100px;
}
@keyframes popup{
    from{
        opacity: 0;
    }
    to{
        opacity: .8;
    }
}
.endgame .text{
    margin-top:20px;
}
button{
    background-color:white;
    box-shadow: 1px 1px 1px 1px black;
    color:black;
    border-radius: 5px;
    opacity:.8
}
button:hover{
    background-color:black;
    color:white;
    opacity: 1.0;
    transition: 1s;
}